ion-header {
    background: var(--white);
    padding-bottom: 15px;
}

ion-list {
    background: none;
    padding: 0;
    padding-top: 20px;
    
    h2 {
        color: var(--text-light2);
        margin: 0;
        font-size: .93rem;
        padding: 0 20px;
        padding-bottom: 15px;
        font-weight: 500;
        letter-spacing: .4px;
    }
    
}

ion-datetime {
    color: rgb(36, 35, 35);
    margin-right: 5px;
    margin-left: 5px;
    font-size: .93rem;
    padding: 0;
    font-weight: 500;
    letter-spacing: .4px;
}

ion-input {
    color: rgb(36, 35, 35);
    margin-right: 10px;
    font-size: .93rem;
    font-weight: 500;
    letter-spacing: .4px;
    bottom: 10px;
    margin-left: 5px;
}

ion-item {
    margin-left: -15px;
}

ion-item-sliding{
    margin-top: 5px;
}

.avg-time {
    span{
        background-color: white;
        color: var(--text-light2);
        margin: 0;
        font-size: .93rem;
        font-weight: 500;
        letter-spacing: .4px;
    }
    
    ion-input{
        margin-left: 10px;
        margin-right: 10px;
        bottom: 0;
        max-width: 30px;
    }
}

.weekdays {
    ion-grid {
        ion-row {
            background-color: white;
            color: var(--text-light2);
            margin: 0;
            font-size: .93rem;
            padding: 10px;
            font-weight: 500;
            letter-spacing: .4px;
        }
    }
}

.title-page {
    color: var(--text-light2);
    margin: 0;
    font-size: .93rem;
    padding: 0 20px;
    padding-bottom: 15px;
    font-weight: 500;
    letter-spacing: .4px;
}

.start-text {
    width: 140px;
}