<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="appointments">
			<ion-icon name="calendar-outline"></ion-icon>
			<ion-label>Agendamentos</ion-label>
		</ion-tab-button>

		<!-- 
			<ion-tab-button tab="feedback">
				<ion-icon name="star-outline"></ion-icon>
				<ion-label>Avaliações</ion-label>
			</ion-tab-button>
		-->

		<ion-tab-button tab="messages">
			<ion-icon name="chatbubbles-outline"></ion-icon>
			<ion-label>Mensagens</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="account">
			<ion-icon name="person-outline"></ion-icon>
			<ion-label>Perfil</ion-label>
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>