ion-header {
    background: var(--white);
    padding-bottom: 15px;

    .search_box {
        background: var(--bg-color);
        width: calc(100% - 30px);
        border-radius: 5px;
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
        overflow: hidden;
        min-height: 37px;
        z-index: 99;

        ion-icon {
            color: var(--text-light);
            font-size: 1.4rem;
            min-width: 35px;
            height: 35px;
            line-height: 35px;
            z-index: 99;
            opacity: 0.5;
            padding: 0 1px;
        }

        ion-searchbar {
            --background: var(--transparent) !important;
            --color: var(--text-black);
            --placeholder-opacity: .8;
            --placeholder-font-weight: 400 !important;
            --box-shadow: none !important;
            --placeholder-color: var(--text-light2);
            padding: 10px 0 !important;
        }
    }
}

ion-list {
    background: none;
    padding: 0;

    h2 {
        color: var(--text-light2);
        margin: 0;
        font-size: 0.93rem;
        padding: 15px 20px;
        padding-bottom: 15px;
        font-weight: 500;
        letter-spacing: 0.4px;
        background: var(--bg-color);
        margin-bottom: 13px;
    }

    ion-item {
        padding: 9px 20px 15px 20px;
        min-height: unset !important;
        --background: var(--transparent);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        background: var(--white);
        --ripple-color: var(--transparent) !important;

        ion-checkbox {
            margin: 0;
            margin-right: 20px;
            --background-checked: var(--primary);
            --border-color-checked: var(--primary);
            --size: 17px;
            min-width: 17px;
        }

        h3 {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.1rem;
            font-weight: 500; 
        }
    }
}